<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">


    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/eleme/index.2.14.1.css">
    <!-- import Vue before Element -->
    <script src="js/eleme/vue.2.6.12.js"></script>

    <!-- 引入组件库 -->
    <script src="js/eleme/index.2.14.1.js"></script>







    <link rel="stylesheet" href="css/tools.css">
    <title>工具集</title>





    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.qrcode.js"></script>
    <script src="js/md5.js"></script>

    <script src="js/create-code.js"></script>
    <script src="js/word.js"></script>
    <script src="js/json2struct.js"></script>



    <!-- tool -->
    <script>
        function uuid() {
            var s = [];
            var hexDigits = "0123456789abcdef";
            for (var i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
            s[8] = s[13] = s[18] = s[23] = "-";

            var uuid = s.join("");
            return uuid;
        }

        function GetTimestamp() {
            return Date.parse(new Date()).toString().substr(0, 10);
        }

        function signin(data, signKey) {
            return hex_md5(data + signKey)
        }

        function UrlToQrcode(id, url) {
            if (!url) {
                url = "null"
            }
            $('#' + id).html("");
            $('#' + id).qrcode({
                text: url,
                height: 300,
                width: 300,
                //src: 'img/Love100x100.jpg',
                percen: 0.3,
                background: "white",
                foreground: "black"
            })
        }
    </script>

</head>

<body>

    <div id="app">
        <el-tabs type="border-card">
            <el-tab-pane label="json2struct" class="">
                <button type="button" onclick="change()">test</button><br>
                <textarea v-model="jsonData" id="jsoninput" rows="20" cols="80"></textarea>
                <br>
                <textarea id="structoutput" rows="20" cols="80"></textarea>
            </el-tab-pane>

            <el-tab-pane label="循环生成" class="create-code">
                参数数量：<input type="number" name="" id="inputLen" value="" /><br>
                输入：<br><textarea rows="" cols="" id="ccinput">循环替换 {#0} 和 {#1} </textarea>
                <ul class="inputList">
                </ul>
                输出：<br><textarea rows="" cols="" id="ccoutput"></textarea>
            </el-tab-pane>

            <el-tab-pane label="驼峰转换" class="word">
                <span>输入：</span><br>
                <input type="text" name="" id="ipt" value="HelloWorld,hello_world">
                <!-- <button onclick="wordChange()">change</button> -->
                <br>
                <span>驼峰首字母小写</span><br>
                <input type="text" name="" id="opt1">
                <br>
                <span>驼峰首字母大写</span><br>
                <input type="text" name="" id="opt11">
                <br>
                <span>下划线</span><br>
                <input type="text" name="" id="opt2">
            </el-tab-pane>
            <el-tab-pane label="贪吃蛇">
                <snake></snake>
            </el-tab-pane>
            <el-tab-pane label="二维码">
                <el-input v-model="qrurl" placeholder="请输入内容"></el-input>
                <div id="qr-code"></div>
            </el-tab-pane>
            <el-tab-pane label="工具">
                <a href="https://hailaz.github.io/tools/list.html">工具</a>
            </el-tab-pane>
            <el-tab-pane label="----">----</el-tab-pane>
            <el-tab-pane label="----">----</el-tab-pane>
            <el-tab-pane label="----">----</el-tab-pane>
            <el-tab-pane label="----">----</el-tab-pane>
            <el-tab-pane label="----">----</el-tab-pane>
            <el-tab-pane label="----">----</el-tab-pane>
            <el-tab-pane label="----">----</el-tab-pane>
        </el-tabs>
    </div>
</body>
<script src="https://unpkg.com/http-vue-loader"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                qrurl: 'www.hailaz.cn',
                jsonData: `
{
    "bankList" : [
        {
            "cardNoLast4" : "0129",
            "bankName" : "中国建设银行",
            "bankAccountNo" : "1323333333",
            "arriveDateList" : [
                {
                    "singleAmount" : "50000.00",
                    "availableAmount" : "50000.00",
                    "title" : "预计两小时内到账，确认提现",
                    "desc" : "该笔提现预计将在",
                    "arriveDateType" : "fast"
                },
                {
                    "singleAmount" : "50000.00",
                    "availableAmount" : "50000.00",
                    "title" : "预计次日24点前到账，确认提现",
                    "desc" : "",
                    "arriveDateType" : "common"
                }
            ],
            "type" : "common",
            "desc" : "2小时到账单笔50000元单日限额150000元，次日到账单笔50000元单日无限额",
            "bankMark" : "CCB",
            "is_true" : true
        }
    ]
}
                `,
            }
        },
        components: {
            'snake': httpVueLoader('./components/snake/snake.vue')
        },
        mounted: function () {
            UrlToQrcode('qr-code', this.qrurl)
        },
        watch: {
            qrurl: function (newurl) {
                UrlToQrcode('qr-code', newurl)
            }
        },
        methods: {

        },

    })
</script>


<script>

</script>



</html>