/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background: url(../../static/img/ruiwen.jpg);
  background-size: cover;
}

.mytable {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 600px;
  margin: auto;
}

.mytable .table{
  margin: auto;
}

.mysearch{
  text-align: center;
}

.mysearch input{
  margin: 10px;
  height: 30px;
}