.toolsContainer {
  display: flex;
  width: 100%;
  min-height: 70vh;
  margin: 2rem 0;
}

.tabsContainer {
  display: flex;
  width: 100%;
}

.tabList {
  width: 200px;
  border-right: 1px solid var(--ifm-color-emphasis-300);
  padding: 0 1rem 0 1rem; /* 添加左侧内边距 */
  flex-shrink: 0;
}

.tabList button {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: var(--ifm-global-radius);
}

.tabList button.tabActive {
  background-color: var(--ifm-color-emphasis-100);
  border: 3px solid var(--ifm-color-primary);
  font-weight: bold;
}

.tabContent {
  flex-grow: 1;
  padding: 0 1rem 1rem 2rem;
}

.toolDescription {
  margin-bottom: 1.5rem;
  font-style: italic;
  color: var(--ifm-color-emphasis-700);
}

.toolContent {
  width: 100%;
  min-height: 400px;
}
